* {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.curtain {
    z-index: 1;
    width: 100%;
    position: fixed;
    bottom: 0;
    transition: transform 0.2s;
}

.curtain img {
    width: 100%;
    height: auto;
}

.lamp {
    width: 250px;
    margin: 0 auto;
}

.lamp img {
    background-color: black;
    width: 100%;
    height: auto;
}

.curtain.open {
    transition: transform 1s;
    transform: translateY(-100%);
}

.curtain.lift {
    transform: translateY(-5%);
    transition: transform 0.2s;
}

.light {
    height: 0;
	width: 50px;
    border-left: 300px solid transparent; 
    border-right: 300px solid transparent; 
    border-bottom: 600px solid rgba(255, 255, 0, 0.5); 
    top: 71px;
    position: absolute;
    left: calc(50% - 324px);
    display: none;
}

.wizard{
    position: absolute;
    display: none;
}

.Hat{
    position: absolute;
    display: none;
}

.Birb{
    position: absolute;
    display: none;
}

.Rabbit{
    position: absolute;
    display: none;
}

.on {
    display: block; 
}